<html>
<img src="..\assets\home1.jpg" width="100%">

<body>
    <section class="showcase-area" id="showcase" style="background-color:orange;">
        <div class="showcase-container">
            <h1 class="main-title" id="home">Eat Right Food</h1>
            <p>Eat Healty, it is good for our health.</p>

        </div>
    </section>

    <section id="food">

        <div class="food-container container">
            <div class="food-type fruite">

                <div class="img-container">
                    <img src="..\assets\home2.jpeg" alt="error" width="100%" />

                </div>
            </div>
            <div class="food-type vegetable">

                <div class="img-container">
                    <img src="..\assets\home3.jpeg" alt="error" width="100%" />

                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="about-wrapper container">
            <div class="about-text" style="background-color: orange;">
                <h2>About Us</h2>
                <h2>We've beem making healthy food last for 10 years</h2>
                <p>
                    Swiggy Startup Story three friends, Sriharsha Majety, Nandan Reddy, and Rahul Jain decided to start
                    a food delivery service. At the time, there weren’t any food delivery services in India, so they saw
                    an opportunity to fill that gap in the market.
                    They started by delivering food from local restaurants to their classmates, and the business took
                    off from there.
                    Today, Swiggy is India’s largest food delivery service with over 50,000 restaurant partners!. They
                    pooled their resources and started Swiggy with just Rs. 10,000.
                    Today, Swiggy is India’s largest food delivery service, and has raised over $1 billion in funding!
                    In this success story column, we will take a closer look at Swiggy’s startup story and see what
                    lessons we can learn from it.
                </p>
            </div>

        </div>
    </section>
</body>

</html>