<!DOCTYPE html>
<html>
<head>
    <title>About Us card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <section>
        <div class="content">
            <h2>About Us</h2>
            <span><!-- line here --></span>
            <p>Swiggy is an Indian online food ordering and delivery platform. Founded in 2014, Swiggy is based in
                Bangalore and
                operates in 500 Indian cities as of September 2021.[5][6] Besides food delivery, Swiggy also provides
                on-demand
                grocery deliveries under the name Instamart, and a same-day package delivery service called Swiggy
                Genie.</p>
            <h2>
                References
            </h2>

            <p>Ashrafi, Md Salman; Upadhyay, Harsh (2 January 2023). "Swiggy's gross revenue crosses Rs 5,700 Cr in
                FY22, losses up 2X". Entrackr. Retrieved 3 January 2023.</p>

        </div>
        <div class="image">
            <img src="..\assets\about us.jpg">
        </div>
    </section>

</body>

</html>