nav ul li a,div ul li a{
    text-decoration: dashed;
    font-size: large;
    color:green;

}
h1{
    text-decoration: dashed;
    color: black;
    font-size: xx-large;
    background: linear-gradient(to left, red, violet, yellow,pink,orange);
    font-style: italic;
  
}
.button {
    background-color: #1c87c9;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
  }
  @keyframes glowing {
    0% {
      background-color:yellowgreen;
      box-shadow: 0 0 3px yellowgreen;
    }
    50% {
      background-color: #49e819;
      box-shadow: 0 0 10px #49e819;
    }
    100% {
      background-color:yellowgreen;
      box-shadow: 0 0 3px yellowgreen;
    }
  }
  .button {
    animation: glowing 1300ms infinite;
  }
  p{
    background: linear-gradient(to left, orange,yellowgreen, orange, green, blue,yellow,orange);
    margin-top: 2%;
    text-transform: uppercase;
    font-size: large;
    font-style: bold;
    text-shadow: #49e819;
   
  }
  .Container Fluid{
    background-color: #1c87c9;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    animation: glowing 1300ms infinite;
  }