h3{
    text-align: center;
    margin-top: 10%;
    
}
div{
    text-align: center;
    background-image: url("C:\Users\larun\Desktop\FullStackProject\FSProject\src\assets\reg page back1.jpg");
    
    
}
button{
    text-align: center;
    box-sizing: border-box;
    border-color: black;
}
.heading{
    text-align: left;
}
 