<h3> View Restaurant Details</h3>
<div>
    <ul>
        <li>
            <div>
                <label class="heading"> <b> Restaurant Name: </b></label>{{restaurant.resName}}
            </div>
        </li>
        <li>
            <div>
                <label class="heading"> <b> Owner Name: </b></label> {{restaurant.ownerName}}
            </div>
        </li>
        <li>
            <div>
                <label class="heading"> <b> Food Type: </b></label> {{restaurant.foodType}}
            </div>
        </li>
        <li>
            <div>
                <label class="heading"> <b> Rating: </b></label> {{restaurant.rating}}
            </div>
        </li>
        <li>
            <div>
                <label class="heading"> <b> Location: </b></label> {{restaurant.location}}
            </div>
        </li>
        
    </ul>
    <a href="http://localhost:4200/restaurant" ><button type="submit" class = "btn btn-success">Go to Restaurant List</button></a>
</div>