table tr td{
    background-image: url("C:\Users\larun\Desktop\FullStackProject\FSProject\src\assets\reg page back1.jpg");
   
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    color:white;
    font-size:larger;
}
table tr th{
    background-color: yellowgreen;
    font-size:x-large;
}
span{
    color:orange;
    font-size: 40px;
}
tbody{
    width: 100%;
}
button{
    border: none;
    border-radius: none;
    box-sizing: none;
    background-color: green;
    color:black;
}
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }