<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="shape">
            <div class="image"></div>
        </div>
        <h3>Kalaivani Rajendran</h3>
        <h3 class="title">Full Stack Java Developer</h3>
        <p> Creative thinker, Smart Worker, Time Management etc..</p>
        <div class="icons">
            <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://support.google.com/mail/answer/8494?hl=en&co=GENIE.Platform=Desktop"><i class="fa fa-envelope" aria-hidden="true"></i></a>


        </div>
    </div>
</body>

</html>