/* You can add global styles to this file, and also import other style files */
body {
   
    background-image: url("C:\Users\larun\Desktop\FullStackProject\FSProject\src\assets\try.jpg");
    background-size: cover;
    
    margin: auto;
    width:auto;
    height: auto;

    
  }
 thead, tbody{
    text-emphasis-color:rgb(0, 0, 0);
 }